@import "../abstract/variables";

.btn-default {
    padding: 15px 35px 12px 35px;
    border: none;
    border-radius: 3px;
    color: $text-white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: TPB, Arial;    
    outline: none;
    background-color: #b92407;
    transition: all .2s ease;

    &:hover {
        filter: brightness(1.2);
    }
}

.topbtn {
    display: none;
    width: 50px;
    height: 50px;
    background-color: $text-color-secondary;
    border: none;
    outline: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 50%;
    z-index: z-index(modal);

    i {
        font-size: 30px;
        color: $text-white;
    }
}
