@import "../core/reset";
@import "../abstract/breakpoint";
@import "../abstract/variables";
@import "../abstract/mixins";
@import "../autoload/fonts";

main {
    width: $container-width;
    height: 780px;
    margin: 0 auto;
    position: relative;

    .user {
        width: 369px;
        height: 100px;
        position: absolute;
        top: 42px;
        left: 107px;

        .loginarea{
            width: 100%;
            height: 100%;
            position: absolute;
            background: transparent url(../images/css-stripes.png);
            background-position: 0 -347px;
            z-index: 2;

            .formarea {
                left: 146px;
                top: 16px;
                position: absolute;

                display: flex;
                flex-direction: column;
                width: 178px;
                
                .input {
                    outline: none;
                    background: transparent;
                    font-size: 12px;
                    height: 30px;
                    border: none;
                    color: #fff;
                    padding-left: 30px;

                    &:focus {
                        font-size: 12px;
                        color: #fff;
                    }
                }

                #pass {
                    margin-top: 3px;
                    width: 110px;
                }

                .user-icon {
                    width: 11px;
                    height: 11px;

                    &.user{
                        left: 10px;
                        top: 8px;
                        position: absolute;
                        background: transparent url(../images/login-icons.png) no-repeat;
                    }

                    &.pass {
                        left: 10px;
                        top: 42px;
                        position: absolute;
                        background: transparent url(../images/login-icons.png) no-repeat 0 -13px;
                    }
                }                
            }
            
            .box-btn {
                width: 90px;
                height: 45px;
                top: 45px;
                right: 12px;
                position: absolute;
                background: transparent url(../images/css-stripes.png) no-repeat 0 0;
                background-position: -249px -80px;

                .submit-btn {
                    width: 51px;
                    height: 31px;
                    position: absolute;
                    top: 7px;
                    left: 19px;
                    background: transparent url(../images/css-stripes.png) no-repeat 0 0;
                    background-position: -249px -160px;
                    border: none;
                    outline: none;
                    transition: all .2s ease;

                    &:hover {
                        filter: brightness(1.30);
                    }
                }
            }
        }

        .forgot {
            width: 215px;
            height: 22px;
            padding: 0 8px;
            border-radius: 5px;
            position: absolute;
            left: 126px;
            top: 96px;
            background: rgba($color: #000000, $alpha: 0.7);
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: #ffd257;
                font-size: 10px;
                font-weight: bold;
            }
        }

        .avatar {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 12px;
            left: 40px;
            z-index: 1;
        }
    }

    .serverStatus {
        width: 318px;
        height: 50px;
        position: absolute;
        background: transparent url(../images/css-stripes.png);
        background-position: 0 -587px;
        box-sizing: border-box;
        top: 529px;
        right: 150px;
        z-index: 10;

        span {
            width: 33px;
            height: 36px;
            position: absolute;
            top: 7px;
            left: 23px;
            background: transparent url(../images/css-stripes.png);
            background-position: 0 -549px;
        }

        p {
            position: absolute;
            top: 15px;
            left: 56px;
            font-family: TPB, Arial;
            font-size: 15px;
            color: #00ff00;
            text-shadow: 0 0 20px #00ff00; 
        }

        .players_on {
            width: 77px;
            height: 26px;
            position: absolute;
            top: 11px;
            right: 40px;
            line-height: 26px;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            padding-left: 15px;
            background: transparent url(../images/css-stripes.png);
            background-position: -35px -549px;
        }
    }

    nav {
        width: 1270px;
        height: 243px;
        position: absolute;
        top: 529px;
        left: -9px;
        background: transparent url(../images/menu.jpg) no-repeat;
    }
}